PORT=5001
HOST=0.0.0.0
DB_USER=sd_lab_user
DB_HOST=localhost
DB_NAME=expensetracker
DB_PASSWORD=Ap25m@6430
DB_PORT=5432
JWT_SECRET=replace_with_secret
CLIENT_URLS=http://localhost:5173,http://192.168.137.1:5173
